body{
    background-image: url(https://cdn.wallpapersafari.com/41/41/vIdSZT.jpg);
    font-family: Optima;
}
h1 {
    line-height: 35%;
    font-size: 120px;
    font-variant: small-caps;
    text-align: center;
    color: rgb(234, 211, 30);
    font-family: Optima;
}
h2{
    color:#ab4040;
    font-size: 60px;
    text-align: center;
}
nav {
    text-align: justify;
    font-size: 35px;
    background: #ffffff21;
}
a {
    color: #ab4040;
    text-decoration: solid;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
}
ul {
    color: white;
    list-style: lower-roman;
    list-style-position: inside;
    font-size: 25px;
    text-align: center;
}
p{
    color: white;
    font-size: 25px;
    text-align: center;

}
summary{
    color: white;
    font-size: 25px;
    -webkit-text-stroke: 1px #fffff8;
    text-align: center;
}
img{
    width:3%;
}
small{
    font-size: 12px;
}
