.bkg1{background: url("../imgs/web-design.jpg") no-repeat fixed; background-size: cover;}
.bkg2{background: url("../imgs/code.jpg") no-repeat fixed; background-size: cover;}
.bkg3{background: url("../imgs/social-media.jpg") no-repeat fixed; background-size: cover;}
body{
	overflow: scroll;
	margin-top: 0;
	height: 4000px;
	background-color: black;
	/*
	background-image: url("../imgs/web-design.jpg");
	background-size: 100%;
	background-attachment: fixed;
	 */
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	transition: background ease 1s;
}
div#preload{
	visibility: hidden;
	position: absolute;
	right:9999px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Prata', serif;
}
span{
	color: white;
}
.fa-linkedin, .fa-snapchat-square, .fa-whatsapp-square, .fa-python, .fa-connectdevelop{
	color: white;
}
.fa-linkedin:hover, .fa-snapchat-square:hover, .fa-whatsapp-square:hover, .fa-python:hover, .fa-connectdevelop:hover{
	color: #dc5656;
}
header {
	margin-bottom: 250px;
}
#socialMedia{
	z-index: 1000;
	float: left;
	display: inline-block;
	position: sticky;
	top: 15px;
}

header h1{
	text-align: right;
	font-size: 64px;
	margin-top: 50px;
	margin-bottom: 0px;
	color: ghostwhite;
}
header h2{
	text-align: right;
	font-size: 30px;
	margin-top: 10px;
	color: antiquewhite;
}
nav{
	z-index: 100;
	top: 15px;
	position: sticky;
	text-align: center;
	margin-bottom: 15px;
}
nav a{
	text-decoration: none;
	display: block;
	font-weight: 500;
}
nav a.current{
	background-image: radial-gradient(rgba(255, 255, 255, 0.75), rgba(131, 132, 135, 0.75));
	color: rgb(41, 50, 60)
}
nav a:hover{
	background-image: radial-gradient(rgba(72, 85, 99, 0.75), rgba(41, 50, 60, 0.75));
	color: white;
}
nav ul li {
	list-style-type: none;
	display: inline-block;

	position: relative;
	margin: 5px 45px;
}
nav ul li ul {
	position: absolute;
	margin: 0;
	left: -84px;
	width: inherit;
	display: block;
	visibility: hidden;
}
nav>ul>li{
	text-align: center;
}
nav li ul{
	display: none;
}
li:hover>ul, nav li ul:hover{
	visibility: visible;
}
nav li ul li{
	display: block;
	margin-bottom: 3px;
}
.initialNav a{
	font-size: 64px;
	padding: 12px;
	width: 280px;
	height: 70px;
	background-image: radial-gradient(rgba(72, 85, 99, 0.3), rgba(41, 50, 60, 0.3));
	color: white;
	transition: all ease 1.0s;
}
.initialNav li ul a{
	font-size: 28px;
	transition: all ease 1.0s;
}
.newNav a{
	font-size: 38px;
	width: 200px;
	height: 45px;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.8);
	color: midnightblue;
	transition: all ease 1.0s;
}
.newNav li ul a{
	font-size: 22px;
	transition: all ease 1.0s;
}
#one, #two{
	display: block;
	box-sizing: border-box;
	position: sticky;
	top: 250px;
	width: 70%;
	left: 15%;
	background-color: rgba(170, 173, 170, 0.85);
	border-radius: 15px;
	padding: 15px;
	font-weight: 500;
}
div#intro{
	z-index: -200;
	text-align: center;
	display: block;
	position: relative;
	width: 90%;
	left: 5%;
	height: 600px;
	margin-bottom: 30px;
}
#two{
	background-color: rgba(149, 123, 123, 0.85);
}
.hide{
	animation-name: hide;
	animation-duration: 0.5s;
	animation-delay: 0s;
	opacity: 0%;
}
@keyframes hide {
	0%{
		opacity: 100%;

	}
	50%{
		opacity: 70%;
	}
	100%{
		opacity: 0%;
	}
}
.show{
	animation-name: show;
	animation-duration: 0.5s;
	animation-delay: 0s;
	opacity: 100%;
}
@keyframes show {
	0%{
		opacity: 0%;
	}
	50%{
		opacity: 30%;
	}
	100%{
		opacity: 100%;
	}
}
footer{
	position: fixed;
	bottom: 15px;
	font-weight: 650;
	color: antiquewhite;
}
footer a{
	text-decoration: none;
	color: #afb1b1;
}
footer a:hover{
	text-decoration: underline;
	color: black;
}